@import-normalize;

:root {
    --darker: #060606;
    --dark: #151e2b;
    --medium: #29465d;
    --light: #3d7194;
    --lighter: #49a0ce;
    --border: var(--light);
    --font: var(--light);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--font);
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#root {
    display: flex;
    ;
    width: 100%;
    height: 100%;
}

.app {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.app-container {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.company-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-y: scroll;
}

.search-container {
    display: flex;
    width: 100%;
}

.search-container input {
    height: 2rem;
    font-size: 1.35rem;
    color: inherit;
    width: 100%;
    text-align: center;
    margin: 10px;
    border: none;
}

.search-container input:focus {
    outline: none;
    border-bottom: 3px solid var(--border)
}

.search-container input::placeholder {
    opacity: 1;
}